# Banco de dados Neon
POSTGRES_URL=postgresql://user:password@host/dbname?sslmode=require

# NextAuth
AUTH_SECRET=seu-secret-aqui
GITHUB_ID=seu-github-client-id
GITHUB_SECRET=seu-github-client-secret
