# https://vercel.com/docs/storage/vercel-postgres
POSTGRES_URL=postgresql://neondb_owner:npg_zP6X0gZnEDrd@ep-broad-wildflower-ac42d3f8-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET= # https://generate-secret.vercel.app/32

# https://authjs.dev/getting-started/providers/github
AUTH_GITHUB_ID= Ov23li8bV83ivnfJwn1d
AUTH_GITHUB_SECRET= 6f22c2f71a1d70023fd88b3c7d972cdb
